body{ 
	text-align: center;
	padding-top: 40px;
	background: #1a0e18;
}
h1{
	color: #d2d1cb;
	font-size: 8rem;
	font-style: italic;
	font-family: 'Kaushan Script', cursive;
	text-shadow: 3px 3px 5px #a18993;
}
p{
	color: #d2d1cb;
	font-size: 2rem;
	font-style: italic;
	font-family: 'Marck Script', cursive;
}
.btn{
	background: #a18993;
	color: #1a0e18;
	border: transparent;
	margin-top: 10px;
	font-size: 2.6rem;
	font-family: 'Kaushan Script', cursive;
}
.btn:active, .btn:focus{
	background: #a18993;
	border: transparent;
}
.btn:hover{
	background: #d2d1cb;
}
.quote{
	background: #d2d1cb;
	padding: 50px 70px;
	margin: 30px auto;
	border-radius: 25px;
	box-shadow: 10px 5px 20px #a18993;
}
.quote-body{
	color: #1a0e18;
	font-size: 3rem;
	font-family: 'Marck Script', cursive;
}
.quote-author{
	color: #5f2b4f;
	font-size: 2.5rem;
	font-style: italic;
	font-family: 'Kaushan Script', cursive;
	text-align: right;
	padding-right: 20%;
}
.twitter-share-button{
	vertical-align: middle;
	margin-top: 10px;
	opacity: 0.8;
}
.tweet-section{
	display: inline;
}

@media(max-width: 650px){
	.quote-author{
		padding-right: 0%;
		text-align: center;
	}
}